@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.background {
  background-image: url("../public/image.png");
  object-fit: cover;
  object-position: center;
}
